<?xml version="1.0"?>
<launch>


<!-- To use this   -->

<!-- get the arguments from  -->
<arg name="data_back" default="1" doc="the speed to run the trajectory at" />


<!-- Load controller settings -->
  <group>

    <!-- Load the config node and settings -->
    <node name="run_traj_node" pkg="pressure_controller_ros" type="run_traj_manual.py" respawn="false"
    	output="screen">
      	<param name="data_back" type="bool" value="$(arg data_back)" />
    </node>
  </group>


</launch>